@model IEnumerable<TaskPlanner.Models.Task>

<h1>My Tasks</h1>

<div id="progressBarTask">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>
</div>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>            
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id=item.ID, @class = "ActiveCheck"})
            </td>
            <td >
                @if (!item.IsDone)
                {

                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                    <div class="CompletedTask">@Html.DisplayFor(modelItem => item.Description)</div>
                }
            </td>
            <td>
                <div style="display:flex; justify-content:flex-end;">
                    <a href="@Url.Action("Edit", new { id = item.ID})" class="btn btn-default" style="margin: 0px 0px 5px 5px; width: 84.36px;">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        Edit
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.ID})" class="btn btn-danger" style="margin: 0px 0px 5px 5px;">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        Delete
                    </a>
                </div>
            </td>
        </tr>
    }

</table>

<script src="~/Custom_Scripts/AddCheckBoxListener.js"></script>
