@model IEnumerable<TaskPlanner.Models.Task>

@{
    ViewBag.Title = "YourTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="w-75 p-3" style="background-color: #eee;">
@foreach (var item in Model)
{
    <div class="w-75 p-3" style="background-color: #eee;">
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(model => item.Description)
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-edit">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID })|
            </span>
        </button>|
        @Html.ActionLink("Details", "Details", new { id = item.ID })|
        <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash">
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </span>
        </button>
    </div>
}
</div>

<!--<table class="table">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <button type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-edit">
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })|
                </span>
            </button>|
            @Html.ActionLink("Details", "Details", new { id = item.ID })|
            <button type="button" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash">
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </span>
            </button>
        </td>
    </tr>
}

</table>-->
